@import url('/css/form.css');

.footer_container_info{
    display: flex;
    grid-gap: 15px;
    background-color: rgb(224, 238, 241);
    width: 58%;
    padding-top: 40px;
    padding-bottom: 0;
    margin: 0 auto;
}
.footer_container_info .group{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    height: 360px;
    
}
.footer_container_info article:nth-child(1){
     width: 14%;
}
.footer_container_info article:nth-child(2){
     width: 17%;
}
.footer_container_info article:nth-child(3){
     width: 32%;
}
.footer_container_info article:nth-child(4){
        width: 35%;
        padding-left: 10px;
}
.footer_container_info .group h5{
    color: rgb(68, 68, 68);
    font-family: 'Montserrat', Arial;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
}
.footer_container_info .group a,
.footer_container_info .group .text_design{
    font-family: 'BlinkMacSystemFont', "Segoe UI", 'Roboto';
    font-size: 13.5px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(14, 14, 14);
    letter-spacing: 0.25px;
}
.footer_container_info .group .text_design{
    font-style: normal;
}
.footer_container_info .group .text_design_strong{
    font-family: 'BlinkMacSystemFont', "Segoe UI", 'Roboto';
    font-size: 13.5px;
}
.form{
    width: 100%;
    height: 70px;
    margin-top: -5px;
}

.footer_payment_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    width: 85%;
    height: 50px;
    margin-top: 10px;
}
.footer_payment_icons img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

footer .note_container{
    background-color: #fff;
}
footer .note_container p{
    color: rgb(33, 37, 41);
    font-family: 'BlinkMacSystemFont', "Segoe UI", 'Roboto';
    font-size: 14px;
    font-weight: 400px;
    line-height: 21px;
}

 /* responsive design for minimal of  801.99 screem view point */
 @media (min-width: 801.99px) and (max-width: 1640px){
    .footer_container_info{
        flex-wrap: wrap;
        grid-gap: 5px;
        width: 90%;
        padding-bottom: 70px;
    }
    .footer_container_info .group{
        display: flex;
        flex-direction: column;
        grid-column-gap: 18px;
        height: auto;
    }

    .footer_container_info article:nth-child(1){
        width: 10%;
   }
   .footer_container_info article:nth-child(2){
        width: 20%;
   }
   .footer_container_info article:nth-child(3){
        width: 40%;
   }
   .footer_container_info article:nth-child(4){
           width: 25%;
           padding-left: 0px;   
           align-content: end;
        }


}

/* responsive design for 801 screem view point */
@media (max-width: 801px) {
    .footer_container_info{
        flex-wrap: wrap;
        grid-gap: 40px;
        width: 90%;
        padding-bottom: 70px;
    }
    .footer_container_info .group{
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        height: auto;
        min-width: 200px;
        
    }

    .footer_container_info article:nth-child(1){
        width: 40%;
   }
   .footer_container_info article:nth-child(2){
        width: 40%;
   }
   .footer_container_info article:nth-child(3){
        width: 40%;
   }
   .footer_container_info article:nth-child(4){
           width: 40%;
           padding-left: 0px;   
        }

}
/* responsive design for a screen size of 550  view piont*/
@media (max-width: 550px) {
    .footer_container_info .group{

        text-align: center;
        
    }
    .footer_container_info article:nth-child(1){
        width: 100%;
   }
   .footer_container_info article:nth-child(2){
        width: 100%;
   }
   .footer_container_info article:nth-child(3){
        width: 100%;
   }
   .footer_container_info article:nth-child(4){
           width: 100%;
           padding-left: 0px;
           grid-gap: 20px;
   }

   .footer_payment_icons{
     width: 70%;
     margin: 0 auto;
     margin-top: 40px;
}

   
}
