.black_space{
    background-color: #000;
    height: 22px;
    width: 100%;
    text-align: center;
    color: #fff;
}
.main_nav{
    height: 63px;
    background-color:rgba(249, 249, 249, 1);
}
.main_nav_container{
    width: 101%;
    height: inherit;
    display: flex;
    padding-left: 30px;
    grid-gap: 14px;
}
.main_nav_container .list_container{
    display: flex;
    justify-content: start;
    align-items: center;
    grid-gap: 10px;
  
}
.main_nav_container .list_container li{
    padding: 2px 2px;
}
.main_nav_container .list_container li a{
    text-transform: capitalize;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    color: rgba(0, 0, 0, .6);
}
header .phone_number{
    padding-top: 21px;

}
header .phone_number p{
    font-family: 'Montserrat', Arial, Helvetica;
    font-size: 12.5px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.35px;
    text-decoration: solid;
    line-height: 14px;
    color: rgba(0, 0, 0, .7);
}
header .logo_container{
    height: 125px;
    background-color: #fff;  
}
header .logo_container div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;

}
header .logo_container img{
    width: 110px;
    height: 100px;
    color: rgb(9, 7, 7);
}





.second_nav{
    height: auto;
    padding: 10px 5px;
}
.second_nav .list_container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}
.second_nav .list_container .list{
    flex: 1 0 1;
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
    height: auto;
}

.second_nav .list_container .list  div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    padding: 10px 10px;
}
.second_nav .list_container .list .drop {
    background-color: rgb(229, 229, 229);
}
.second_nav .list_container .list a,
.second_nav .list_container .list  div:nth-child(1) > a{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 700;
    color: rgb(16, 15, 15);
    text-transform: uppercase;
}

.second_nav .list_container .list div:nth-child(1) > a:hover{
    text-decoration: underline;
}
.second_nav .list_container .list  div:nth-child(1) > p{
   font-size: 'Roboto';
   font-size: 14px;
   font-weight: 600;
   rotate: 90deg;
   color: rgba(0, 0, 0, .9);
}
.drop_list{
    display: none;
}

.second_nav .list_container .list.one .drop ~ .drop_list,
.second_nav .list_container .list.two .drop ~ .drop_list,
.second_nav .list_container .list.three .drop ~ .drop_list,
.second_nav .list_container .list.four .drop ~ .drop_list,
.second_nav .list_container .list.five .drop ~ .drop_list,
.second_nav .list_container .list.six .drop ~ .drop_list,
.second_nav .list_container .list.seven .drop ~ .drop_list{
    position: absolute;
    top: 100%;
    left: calc(-50vw + 50%);
    width: 100vw;
    height: auto;
    padding: 30px 0;
    background-color: rgb(229, 229, 229);
    display: block;
    z-index: 100;
}

.drop_list ul{
    width: 60%;
    height: inherit;
    padding-bottom: 5px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}
.drop_list ul li{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: start;
    list-style: none;
    padding-bottom: 20px;
    border: 0;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.drop_list ul li a{
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    color: rgb(14, 14, 14);
    text-transform: capitalize;
}

.hamburger{
    display: none;
}










/* responsive design for 801 screem view point */
@media (max-width: 801px) {

    .hamburger{
        position: absolute;
        top: 6px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 40px;
        border: 1px solid rgb(210, 210, 210);
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0);
    }
   
    .hamburger .wrap {
        height: 50%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .hamburger .wrap span{
        height: 19%;
        width: 100%;
        background-color: rgb(126, 125, 125);
    }
   


    #header_fix{
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        min-height: 52px;
        border-bottom: 1px solid black;
        background-color: #fff;
        z-index: 20;
    }
    
    header .logo_container{
        height: auto;
        min-height: 65px;
        padding-top: 5px;
    }
    header .logo_container img{
        width: 60px;
        height: 50px;
        padding-top: 4px;
        color: rgb(9, 7, 7);
    }

    .hamburger.two{
        border: 0;
    }
    .hamburger.two:active{
        border: none;
    }
    .hamburger.two .wrap{
        width: 50%;
    }


    /*  */


    .second_nav{
        display: none;
        height: auto;
    }
    

    .hamburger.two.drop_nav ~ .second_nav{
        display: flex;
        position: fixed;
        top: 55px;
        width: 100%;
        bottom: 0;
        background-color: rgb(225, 235, 237);
        z-index: 200;
    }


    .second_nav .list_container{
        flex-direction: column;
        align-items: start;
        grid-gap: 15px;
        width: 100%;
        height: 40%;
        margin: 0 auto;
        margin-top: 40px;
        padding-top: 10px;
        padding-left: 10px;
        border-top: 1px solid black;
    }

    .second_nav .list_container .list{
        position: relative;
        align-items: start;
        width: 100%;
    }

    .second_nav .list_container .list  div:nth-child(1){
        padding: 0;
    }
    .second_nav .list_container .list  div:nth-child(1) > p{
        rotate: 0deg;
     }


     

    .black_space{
        margin-top: 61px;
    }
    
    .main_nav{
        position: relative;
        height: auto;
        min-height: 50px;
    }
    .hamburger.one:active{
        border: 2px solid rgb(14, 14, 14);
    }
   
    .main_nav_container{
        display: none;
    }

    .hamburger.one.drop_nav ~ .main_nav_container{
        display: inline-block;
        width: 100%;
        height: 0;
        margin-top: 50px;
        animation: dropdownav1 .25s ease 1 forwards;
    }
    @keyframes dropdownav1 {
        0%{
            height: 0;
        }100%{
            height: 250px;
        }
        
    }
    .main_nav_container .list_container{
        width: 100%;
        height: 70%;
       
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }
    .main_nav_container .phone_number{
        height: 30%;
        width: 100%;
        padding-top: 30px;
    }
}



