.products_container{
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 120px;
    background-color: #fff ;
}
.products_container .title{
    width: 100%;
    height: 88px;
    padding-top: 5px;
    text-align: center;
}
.products_container .title h2{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 33.6px;
    color: rgb(68, 68, 68);
}
.products_container .products_grid{
    height: auto;
    width: 58%;
    margin: 0 auto;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,  1fr);
    grid-column-gap: 22px;
    grid-row-gap: 60px;
}
.products_grid .product{
    padding-top: 81px;
    padding-bottom: 20px;
    border: 1px solid rgba(152, 152, 152, .4);
    border-radius: 4px;
    box-shadow: -2px 2px 4px rgba(152, 152, 152, .2);
    background-color: #fff;
    transition: all .25s ease-in-out;
}
.products_grid .product:hover{
    box-shadow: 0px 15px 20px rgba(152, 152, 152, .35);
}
.product .product_img{
    position: relative;
    width: 100%;
    height: 45%;
}
.product .product_img .cart_message{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 8px 21px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    transition:all .25s ease;
}
.product .product_img .cart_message:hover{
    text-decoration: underline;

}
.products_grid .product:hover .cart_message{
    display: block;
}
.products_grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .product_title{
    width: 100%;
    height: 25%;
    margin-top: 90px;
    padding: 0 15px;
}
.product .product_title > h4,
.product .product_title > h4 a{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 18px;
    color: rgb(117, 117, 117);
}
.product .product_prices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70%;
}
.product .product_prices .price,
.product .product_prices .price span{
    width: 100%;
    font-family:  'BlinkMacSystemFont', "Segoe UI", 'Roboto', "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    color: rgb(14, 14, 14);
    line-height: 21px;
}
.product .product_prices .price span{
    margin-left: 2px;
}
.product .product_prices .price.was span{
   word-wrap: break-word;
   text-decoration-line: line-through;
   text-decoration-style: solid;
}