*, ::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family:  'Source Sans Pro';
}
:root{
    ---primary-color: #000;
}
body{
    scroll-behavior: smooth;
    height: auto;
    width: auto;
    overflow-x: hidden;
}
header, 
nav,
 main,
 main section,
 footer,
 footer section{
    width: 100%;
}
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}
header > div{
    width: 100%;
}
nav{

}
main{

}
main section{

}
footer{
    border: 0;
    border-top: 1px solid rgb(18, 17, 17);
    background-color: rgb(224, 238, 241);
}
footer section{

}

.hero_container{
    height: 600px;
    max-height: 71.42857rem;
}


li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}

.body {
    -ms-overflow-style: none;  
     scrollbar-width: none;  
     overflow-y: scroll;
 }
 
 .body::-webkit-scrollbar {
     display: none;  
 }


/* responsive design for 801 screem view point */
@media (max-width: 801px) {
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }
    .hero_container{
        height: 560px;
        max-height: 71.42857rem;
    }
   
}


/* responsive design for a screen size of 550  view piont*/
@media (max-width: 550px) {

    .hero_container{
        height: 460px;
        max-height: 71.42857rem;
    }
    
}