*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

.body {
    -ms-overflow-style: none;  
     scrollbar-width: none;  
     overflow-y: scroll;
 }
 
 .body::-webkit-scrollbar {
     display: none;  
 }
          
.cart_pop_up_plugin_container{
    display: none;
}
.cart_pop_up_plugin_container.pop{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
}
.cart_pop_up_plugin_container .cart_plugin_wrap{
    position: relative;
    top: -250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 234px;
    margin: 0 auto;
    border:0;
    border-radius: 3px ;
    background-color: #fff;
    animation: movecart .25s ease 1 forwards;
}

@keyframes movecart {
    0%{
        top: -250px;

    }50%{
        top: -12.5px;
    }100%{
        top: 25px;

    }
    
}


.cart_pop_up_plugin_container .cart_plugin_wrap > div:nth-child(1){
    flex: 1.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border: 0;
    border-bottom: 1px solid rgb(200, 197, 197)

}
.cart_pop_up_plugin_container .cart_plugin_wrap > div:nth-child(1) h3{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 17.5px;
    letter-spacing: 0.25px;
    font-weight: 500;
    line-height: 26.5px;
    text-transform: uppercase;
    text-align: left;
    color: rgba(68, 68, 68, .8);
}
.cart_pop_up_plugin_container .cart_plugin_wrap > div:nth-child(1) span{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(68, 68, 68, .5);
    font-weight: 900;
    font-stretch: wider;
    transform: scaley(60%);
    cursor: pointer;
}
.cart_pop_up_plugin_container .cart_plugin_wrap > div:nth-child(2){
    flex: 2.5;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.cart_pop_up_plugin_container .cart_plugin_wrap > div:nth-child(2) > div{
    width: 100%;
    height: 40%;
    padding-left: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid black ;
    border-left: 1px solid black ;
    border-top: 1px solid rgb(200, 197, 197);
    border-bottom: 1px solid rgb(200, 197, 197);
}
.cart_pop_up_plugin_container .cart_plugin_wrap > div:nth-child(2) > div p{
    flex: 1;
    text-align: left;
    color: rgb(33, 37, 41);
    font-family: 'BlinkMacSystemFon', "Segoe UI", 'Roboto', "Helvetica Neue";
    font-size: 14px;
    font-weight: 900;
    line-height: 21px;
    letter-spacing: .25px;
}

.cart_pop_up_plugin_container .cart_plugin_wrap > div:nth-child(2) > div p:nth-child(1){
    flex: 1.5;
}
.cart_pop_up_plugin_container .cart_plugin_wrap > div:nth-child(3){
    flex: 1.3;
    display: flex;
    justify-content: end;
    align-items: center;
    grid-gap: 10px;
    padding: 0 15px;
    border: 0;
    border-top: 1px solid rgb(200, 197, 197)
}
.cart_pop_up_plugin_container .cart_plugin_wrap > div:nth-child(3) .btn1{
    font-family: 'BlinkMacSystemFont', "Segoe UI", 'Roboto';
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 7px 10px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 4px;
    background-color: rgb(108, 117, 125);
    cursor: pointer;
}
.cart_pop_up_plugin_container .cart_plugin_wrap > div:nth-child(3) .btn2{
    font-family: 'BlinkMacSystemFont', "Segoe UI", 'Roboto';
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 7px 13px;
    border: 1px solid  rgb(0, 98, 204);
    border-radius: 4px;
    background-color: rgba(0, 98, 204, .8);
    cursor: pointer;
    transition: all .25 ease ;
}